.notification {
    position: fixed;
    transform: translate(-50%);
    top: -100%;
    left: 50%;

    color: white;
    background-color: #373737;

    padding: 1.2rem 2.2rem;

    z-index: 999999999;

    font-size: 2rem;
}
.slide {
    animation-duration: 4s;
    animation-delay: -1s;
    animation-name: slide;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% {
        top: -100%;
    }

    40% {
        top: 90px;
    }

    60% {
        top: 90px;
    }

    100% {
        top: -100%;
    }
}

@media (max-width: 980px) {
    .notification {
        width: 60%;
    }
}