.card {
    background-color: #f2f2f2;
    border: 1px solid #717171;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 30fr 50fr 20fr;

    height: fit-content;
    width: 100%;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    height: 100%;
    width: 100%;
}
.img img {
    border-radius: 3px;

    height: 100%;
    width: 100%;

    object-fit: cover;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    padding: 1.5rem;
}
.middle > p {
    font-size: 2rem;
}
.controlBtns {
    display: flex;
    align-items: center;
    gap: 2rem;

    max-width: 9rem;
    min-width: 9rem;
}
.controlBtns button {
    background-color: transparent;
    outline: none;
    border: none;

    font-size: 3rem;

    cursor: pointer;
}
.controlBtns p {
    font-size: 2rem;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;

    font-weight: 600;

    height: 100%;
    text-align: right;
}
.right p {
    font-size: 2rem;
    white-space: nowrap;
    max-width: 11rem;
    min-width: 11rem;
}
.right i {
    font-weight: 900;
    font-size: 2.4rem;

    cursor: pointer;
}
.startCost {
    font-weight: 500;
    font-size: 1.8rem !important;
    color: rgba(0,0,0,0.5);
}

@media (max-width: 980px) {
    .card {
        grid-template-columns: 1fr;
    }
    .img img {
        max-width: 20rem;
    }

    .controlBtns button {
        font-size: 4rem;
    }
    .controlBtns p {
        font-size: 3rem;
    }

    .right {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .right i {
        position: relative;
        right: 10px;
    }
}