.wrapper {
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
}
.wrapper::-webkit-scrollbar {
    width: 10px;

    background: transparent;
}
.wrapper::-webkit-scrollbar-thumb {
    background: var(--color-main-red);
}

@media (max-width: 980px) {
    .wrapper::-webkit-scrollbar {
        display: none;
    }
}