.upperBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 28rem;

    background-color: #191919;
}
.upperBlock h1 {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.upperBlock form {
    display: flex;
    align-items: center;
}
.upperBlock form input {
    font-size: 1.7rem;
    padding: 1rem;
    margin-right: 0.7rem;

    border: none;
    outline: none;

    height: 45px;
    width: 30rem;
}
.upperBlock form button {
    border: none;
    font-size: 1.7rem;
    padding: 0.7rem 1.4rem;
    cursor: pointer;

    height: 45px;
    transition: all 0.3s ease;
}
.upperBlock form button:hover {
    background-color: var(--color-main-red);
    color: white;
}

.bottomBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem;

    height: 10rem;

    background-color: black;
}
.links {
    flex-wrap: wrap;

    gap: 3rem;

    display: flex;
    justify-content: center;
    text-align: center;
}
.links p {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}
.links p:hover {
    color: var(--color-main-red);
}

@media (max-width: 980px) {
    .bottomBlock {
        height: 14rem;
    }

    .upperBlock form {
        flex-direction: column;
        gap: 2rem;
    }
}