.lang {
    display: flex;
    align-items: center;
    gap: 1rem;

    user-select: none;
    cursor: pointer;

    color: black;
    font-size: 2rem;

    min-width: 2.2rem;
    max-width: 2.2rem;
}
.underline:hover {
    text-decoration: underline;
}