@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);

    scrollbar-width: thin;
    scrollbar-color: var(--color-main-red) white;
}

a, button, img, span {
    color: black;
    user-select: none;
    text-decoration: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

#root {
    --color-main-red: #d61415;
}
#root[data-lang="en"] {
    --font-main: 'Blinker', sans-serif;
}
#root[data-lang="ru"] {
    --font-main: 'Jost', sans-serif;
}

html {
    font-size: 62.5%;
}